@charset "UTF-8";
body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.navBar {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: whitesmoke;
}

.navBarContainer {
  margin: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  z-index: var(--z-sticky);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-bottom: 1px solid #c9c3c3;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  color: #262626;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.menuIcon {
  display: inline-flex;
  padding: 5px;
  margin: 5px;
}

.Lupa {
  font-size: 35px;
}

.logoDevTo {
  display: inline-flex;
  margin: 5px;
  padding: 5px;
  border: none;
}

.searchBarContainer {
  position: relative;
  margin: 5px;
  padding: 5px;
}
.searchBarContainer .menuIcon {
  position: absolute;
  right: 0;
  top: 0px;
}

.searchBarForm:hover {
  border-radius: 5px;
  border: 1px solid #262626;
}

.searchBarForm {
  display: flexbox;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid #c9c3c3;
  width: 400px;
  height: 25px;
  padding: 8px;
  color: #575757;
  font-size: medium;
}

.LogInLink:hover {
  text-decoration: underline;
  color: #3b49df;
}

.LogInLink {
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #575757;
}

.createAccountButton:hover {
  background-color: #3b49df;
  text-decoration: underline;
  color: whitesmoke;
}

.createAccountButton {
  border-radius: 5px;
  border: 1px solid #3b49df;
  color: #3b49df;
  font-weight: 500;
  text-decoration: none;
  width: 125px;
  height: 25px;
  padding: 8px;
  margin-left: 10px;
  margin-right: 20px;
}

footer {
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: #404040;
}

.footerWeb {
  margin: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: var(--z-sticky);
  background-color: #e5e5e5;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
}

p {
  word-wrap: break-word;
  margin: 1em;
  padding: auto;
  text-align: center;
}

.footerDescripcion {
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

.DevToLink:hover {
  text-decoration: underline;
}

.DevToLink {
  text-decoration: none;
  color: #3b49df;
  font-weight: 500;
}

.listaFooterNH {
  list-style: none;
}

.footerListaLinks {
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
}

.linksFooterNH {
  text-decoration: none;
  color: #3b49df;
  text-align: center;
}

.bullet {
  font-weight: 700;
  color: #404040;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.linkHU {
  text-decoration: none;
  color: #3b49df;
}

.linkHU:hover {
  text-decoration: underline;
}

.footerBuilt {
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

.footerCopyRight {
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

/* media query o breakpoint para tablets */
/* (tablets en vertical(portrait) y celulares mas grandes, 600px en adelante) */
/* media query para laptops peque;as en adelante */
/* (laptops/monitores pequeñas, 992px en adelante) *//*# sourceMappingURL=main.css.map */