$footerBgColor: #e5e5e5;
$txtColorDark: #404040;

@mixin containerStyle {
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

footer {
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  height: fit-content;
  color: $txtColorDark;
}

.footerWeb {
  margin: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: var(--z-sticky);
  background-color: $footerBgColor;
  display: inline-flexbox;
  flex-wrap: wrap;
}

p {
  word-wrap: break-word;
  margin: 1em;
  padding: auto;
  text-align: center;
}

.footerDescripcion {
  @include containerStyle;
}

.DevToLink:hover {
  text-decoration: underline;
}

.DevToLink {
  text-decoration: none;
  color: $linksColor;
  font-weight: 500;
}

.listaFooterNH {
  list-style: none;
}

.footerListaLinks {
  @include containerStyle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
}

.linksFooterNH {
  text-decoration: none;
  color: $linksColor;
  text-align: center;
}

.bullet {
  font-weight: 700;
  color: $txtColorDark;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.linkHU {
  text-decoration: none;
  color: $linksColor;
}

.linkHU:hover {
  text-decoration: underline;
}

.footerBuilt {
  @include containerStyle;
}

.footerCopyRight {
  @include containerStyle;
}
