$txtColorLight: #575757;
$txtColorDark: #404040;

@mixin borderTarjeta {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin tarjetaLinkEspacios {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin sideBarRightContainer {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 13px;
}

.wrapperRight {
  margin-bottom: 250px;
}

aside {
  font-weight: 300;
  max-width: 300px;
  width: 35%;
}

h5 {
  color: $txtColorDark;
  font-family: Consolas, monospace;
}

.sideBarRightHeader:hover {
  h3 {
    text-decoration: none;
    color: $linksColor;
  }
}

.sideBarRightHeader {
  text-decoration: none;
  h3 {
    color: $txtColorDark;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tarjetaSideBarRight {
  background-color: white;
  @include borderTarjeta;
  border: 1px solid $borderColor;
  @include sideBarRightContainer;
}

.tarjetaLinks {
  border-top: 1px solid $borderColor;
  @include tarjetaLinkEspacios;
}

.sideBarRightLinks:hover {
  text-decoration: none;
  color: $linksColor;
}

.sideBarRightLinks {
  text-decoration: none;
  color: $txtColorDark;
  font-size: 16px;
}

.sideBarRightComment {
  text-decoration: none;
  color: $txtColorLight;
  font-size: 14px;
}

.artSideBarRightContainer {
  border-bottom: 1px solid $borderColor;
  @include sideBarRightContainer;
}

.artSideBarRight:hover {
  text-decoration: none;
  color: $linksColor;
  background-color: white;
}

.artSideBarRight {
  @include tarjetaLinkEspacios;
}

@media only screen and (max-width: 1020px) {
  aside {
    display: none;
  }
}
